.content {
  display: flex;
  justify-content: flex-start;
  margin: 70px 50px 0px 50px;
  flex-wrap: wrap;
  border: 1px solid rgb(209, 203, 203);
  border-radius: 10px;
  min-height: 600px;
  padding: 10px;
}
